/* CSS BY COOPER JOHNSON */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS REST */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */

:root{
    --blue:#1F2A44;
    --green:#76885B; 
    --gold:#E5C185;
    --linen:#F8F4EC;
    --grey:#2B2B2B;
    --white:#FAF9F6; 
}

/* GLOBAL STYLES (mobile first/small) */
html{
    font-family: 'Playfair Display';
    background-color: var(--white);
    width: fit-content;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

    /* HEADER STYLES */

header{
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
}

h1{
    font-weight: bold;
    font-size: 6rem;
}

header p{
    font-style: italic;
    padding: 3rem;
}

/* NAV STYLES */

nav{
    background-color: var(--gold);
    font-size: 1.2rem;
    margin-bottom: 5rem;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5rem;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: var(--grey);
}

/* MAIN STYLES */

h2{
    font-size: 2rem;
    margin: 1.5rem;
}

main p{
    padding-top: 1rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid var(--gold);
    margin: 1.5rem;
    line-height: 3rem;
    font-size: 1rem;
}

/* OFFERINGS SECTION STYLES */


#offerings section{
    background-color: var(--green);
    padding: 2rem;
    margin: 1.5rem;
    border-radius: 1rem;
    color: var(--white);
    line-height: 3rem;
}

#offerings p{
    border-bottom: none;
    margin: 0;
    padding: 0;
}
section h3{
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

section ul{
    list-style-type: disc;
    list-style-position: inside;
}

/* GALLERY SECTION STYLES*/

#gallery h3{
    padding-top: 1rem;
    line-height: 3rem;
    font-size: 1rem;
}

#gallery p{
    border-bottom: none;
    margin-left: 0;
}

#gallery h2{
    border-top: 2px solid var(--gold);
    padding-top: 3rem;
    margin-left: 0;
}

#gallery section h3{
    text-align: center;
    font-style: italic;
    padding: 2rem;
}

#gallery > div section{
    box-shadow: 4px 4px 20px var(--grey);
    border-radius: 1rem;
    margin-top: 2rem;
}

#gallery img{
    width: 100%;
    height: auto;
    padding: 0rem;
    border-radius: 1rem;
}   

#button a{
    background-color: var(--green);
    border-radius: 1rem;
    display: block;
    color: var(--white);
    padding: 2rem;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#button{
    padding-bottom: 1rem;
    text-align: center;
}

#gallery{
    border-bottom: 2px solid var(--gold);
    margin: 3rem;
}

/* FOOTER STYLES */

footer{
    background-color: var(--blue);
    text-align: center;
    padding-bottom: 3rem;
}

#contact{
    text-align: center;
    color: var(--white);
    padding-top: 4rem;
    font-size: 1rem;
    padding-bottom: 4rem;
}

footer a{
    color: var(--gold);
    text-decoration: none;
}

/* MEDIA QUERY (medium) */
@media screen and (min-width: 600px){
    #offerings div{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #offerings section{
        margin: 1rem;
    }

    .span{
        grid-column: 1/-1;
    }

    #gallery-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    #gallery p{
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

/* MEDIA QUERY (large) */
@media screen and (min-width: 900px){
    
    #gallery-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }

}

/* MEDIA QUERY (xl) */
@media screen and (min-width: 1200px){

    #gallery-grid{
        display: flex;
    }

    main{
        margin: 4rem;
    }

    #gallery section h3{
       padding: 1rem;
       line-height: 2rem;
    }

}